<a href="https://colab.research.google.com/github/priyankavunnam224/MyProject/blob/master/NB_02_Strings_Lists_Iterations_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

## Strings

A string is a series of characters. In Python, anything inside quotes is a string. And you can use either single quotes or double quotes

For more info, refer [here](https://www.w3schools.com/python/python_strings.asp).

Exercise 1:

Declare the values of a string variable to be "she enquired, "What help do you want from me?" to her neighbour"

Print the string.

In [4]:
comm = 'she enquired, "What help do you want from me?" to her neighbour.'
print(comm)

she enquired, "What help do you want from me?" to her neighbour.

Exercise 2:

Declare the values of a string variable to be "I need Tables, Chairs, Cupboards", in double qoutes. 

Print the string.

In [7]:
statement = '"I need Tables, Chairs, Cupboards."'
print(statement)

"I need Tables, Chairs, Cupboards."

Exercise 3:

Concatenate the two string variables declared in Exercise 1 and Exercise 2.

In [5]:
concatenate_1 = comm+statement
print(concatenate_1)

she enquired, "What help do you want from me?" to her neighbour."I need Tables, Chairs, Cupboards"

Exercise 4:

Write a short note on any topic in python and print the note using single print statement.

In [6]:
note = "Python variables once defined in a notebook can be used across all methods without explicitly using a class or similar structure"
print(note)

Python variables once defined in a notebook can be used across all methods without explicitly using a class or similar structure

Exercise 5:

* Concatenate the output of the string in Exercise 3 and output of the string in Exercise 1.
* print the length of the concatenated string.
* Check if the output of Exercise 1 appears in the new concatenated string.

In [8]:
concatenate_2 = concatenate_1+comm
print(len(concatenate_2))
comm in concatenate_2

162

True

## Lists

A Python list is used to store the sequence of various types of data. They are mutable type i.e. we can modify its element/s after it is created. 

For more info, refer [here](https://www.w3schools.com/python/python_lists.asp).

* Declare a 'List' of positive integers in one variable.
* Declare a 'List' of positive floating point values in another variable.
* Declare a 'List' of individual string entries from Exercise 1.
* Declare another 'List' which is a union of all the other three lists.

In [12]:
list1 = [1,2,3,4,5,6,7,8]
list2 = [5.1, 7.2, 8, 9, 0,2]
exercise_1 = ["Tables", "Chairs", "Classroom", "School"]
union_list = [1,2,3,4,5,6,7,8, 5.1, 7.2, 8, 9, 0,2, "Tables", "Chairs", "Classroom", "School"]

Exercise 6:

* What is the value of 5th index in union "List'
* What is the length of the union 'List'
* What is the maximum value in positive floating point 'List'
* What is the sum of positive integers in first 'List'

In [14]:
print(union_list[4])
print(len(union_list))
print(max(list2))
print(sum(list1))

5
18
9
36

## Python 'For' Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

For more information, refer [here](https://www.w3schools.com/python/python_for_loops.asp).

Exercise 7:

Iterate over the union list in exercise 6 using 'for' loop and print all the individual elements of the 'List'

In [15]:
for item in union_list:
  print(item)

1
2
3
4
5
6
7
8
5.1
7.2
8
9
0
2
Tables
Chairs
Classroom
School

Exercise 8:

* Define a string variable.
* Iterate through all the individual characters of the string.
* Print all the characters.

In [18]:
str = "IamAStringVariable"
for char in str:
  print(char)

I
a
m
A
S
t
r
i
n
g
V
a
r
i
a
b
l
e

Exercise 9:

* Append the positive list defined in Exercise 6 with a value 2.
* Print the appended list.
* Extend the positive list defined in Exercise 6 with a floating point list defined in Exercise 6.
* Print the extended list.

In [17]:
list1.append(2)
print(list1)
list1+=list2
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 2]
[1, 2, 3, 4, 5, 6, 7, 8, 2, 5.1, 7.2, 8, 9, 0, 2]

Exercise 10:
* Print the length of the string list defined in Exercise 8.
* Print all the characters of this string from 10th index to 20th index.

In [20]:
print(len(str))
print(str[9:20])
for char in str[9:20]:
  print(char)

18
gVariable
g
V
a
r
i
a
b
l
e

## Python 'While' loops
The while loop allows the execution of a set of statements as long as a condition is true.

For more information, refer [here](https://www.w3schools.com/python/python_while_loops.asp).

Exercise 11:
* Write a while loop statement to print the following series:
5, 10, 15, 20, __ __ 100

In [25]:
n=5
list=[]
while (n<=100):
  list.append(n)
  n=n+5
print(list)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

For more Exercises, refer to: https://docs.python-guide.org/intro/learning/